obj/Debug/net10.0/RepoGruppo.AssemblyInfo.cs
obj/Debug/net10.0/RepoGruppo.assets.cache
obj/Debug/net10.0/RepoGruppo.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net10.0/RepoGruppo.AssemblyInfoInputs.cache
